<h1>Make your form here</h1>

<form method="POST" action="/pirates">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Height: <input type="text" name="pirate[height]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Ship 1 Name
</form>
