<h1>Display your Pirate here</h1>

Pirate Name: <input type="text" name="pirate[name]">
Pirate Height: <input type="text" name="pirate[height]">
Pirate Weight: <input type="text" name="pirate[weight]">
Ship 1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
Ship 1 Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
Ship 1 Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>

Ship 2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
Ship 2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
Ship 2 Booty:
